
<h2 class="header">GAME ARENA</h2>
<div class="container">
  <mat-card>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="term"
      class="custom-input" placeholder="Search by Game title, platform, genre..." />
  </mat-form-field>
</mat-card>
<div>
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let element of elements | filter: term">
      <mat-card class="card-contain">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>{{element.title}}</mat-card-title>
          <mat-card-subtitle>{{element.platform}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <p class="pull-right"> <button mat-flat-button color="primary">{{element.editors_choice}}</button></p><hr>
        <mat-card-actions>
        <button mat-button mat-raised-button>{{element.genre}}</button>
        <button mat-button mat-raised-button class="pull-right">{{element.score}}</button>
      </mat-card-actions>
      </mat-card-content>
    </mat-card></mat-grid-tile>
  </mat-grid-list>
</div>
</div>
